


.titulo{
    text-align: justify;
    text-align: center;
    padding: 10px;
}


.subtitulo{
    text-align: justify;
    font-size: x-large;
    color: black;
}


.imagem{
    float: left;
    width: 55%; 
}


.destaque:hover{
background-color: rgba(23, 75, 218, 0.801);
padding: 5px;
border-radius: 10%;
}


